<h1>All The Appearances</h1>

<ul>
  <% @appearances.each do |appearance| %>
    <li>Guest: <%= appearance.guest.name %> - Episode: <%= appearance.episode.number %> - Rating: <%= appearance.rating %></li>
  <% end %>
</ul>